{% extends "core/base.html" %}

{% block content %}
<!-- This is a placeholder to showcase some django-cotton functionality with shadcn components -->
  <header>
    Hello World!
  </header>
  {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <!-- button/index.html -->
      <c-button variant="default" type="submit">Logout</c-button>
    </form>
  {% else %}
      <c-button variant="default" type="submit">
    <a href="{% url 'login' %}">Login</a></c-button>
  {% endif %}

<c-button variant="default" type="submit">Im a button</c-button>
  <!-- accordion/index.html -->
<c-accordion type='single' collapsible='true'>
    <c-accordion.item value='item-1'>
        <c-accordion.trigger value='item-1'>Is it for Django?</c-accordion.trigger>
        <c-accordion.content value='item-1'>
            Yes. All components are compatible with Django.
        </c-accordion.content>
    </c-accordion.item>

    <c-accordion.item value='item-2'>
        <c-accordion.trigger value='item-2'>Is it for Django?</c-accordion.trigger>
        <c-accordion.content value='item-2'>
      Some component
        </c-accordion.content>
    </c-accordion.item>
</c-accordion>

<h1 class="text-2xl font-bold underline">Dynamic Design using HTMX</h1>
<c-button variant="outline"
  hx-get="{{scenario.internal_id}}/solar/crud/"
  hx-target="this"
  hx-swap="beforebegin"

>Add a solar instance
</c-button>





{% endblock content %}
