<!-- {% extends "core/base.html" %} -->
<!---->
<!-- {% load static %} -->
<!---->
<!-- <!DOCTYPE html> -->
<!-- {% block header %} -->
<!--   <title>Leaflet.draw vector editing handlers</title> -->
<!--   <link rel="stylesheet" -->
<!--         href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" -->
<!--         integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" -->
<!--         crossorigin=""> -->
<!--   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" -->
<!--           integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" -->
<!--           crossorigin=""></script> -->
<!-- <script src="{% static 'map-interface-enetra.js' %}"></script> -->
<!--   <link rel="stylesheet" -->
<!--         href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"> -->
<!--   <script src='{% static "leaflet.draw.js" %}'></script> -->
<!--   <!-- <script src='static/js/leaflet.draw.js'> -->
<!--    ' -->
<!--  </script> --> -->
<!--   {% for area in  areas %} -->
<!--   {% if forloop.first %}{{ area.media }}{% endif %} -->
<!-- {% endfor %} -->
<!-- {% endblock header %} -->
<!-- {% block mainContent %} -->
<!--   <!-- NOTE: GOAL keep logic for map minimal and local --> -->
<!--   <!-- DELETE/CHANGE/CREATE Events are broadcasted and listend to by forms/elements--> -->
<!--   <!-- map is hydrated by html --> -->
<!--   <!-- input forms get class draw-map-element as well as styling of markers, colors --> -->
<!--   <!-- Hover/Popup etc. events are triggered through events, which contain the clicked map element and position--> -->
<!--   <!-- Elements are uniquely identifiable via Slug/uuid --> -->
<!--   <div id="map" style="width: 800px; height: 600px; border: 1px solid #ccc"></div> -->
<!--   <input id="focusedForm" class="bg-red-400" name="focusedForm"> -->
<!--   <h1 class="text-2xl font-bold underline">Areas</h1> -->
<!--   <div class="area-form-container" -->
<!--        hx-on::oob-before-swap="htmx.trigger(this, 'area-changed', {})"> -->
<!--     {% for form in areas %} -->
<!--     {% include "ports/partials/create_form.html" %} -->
<!--   {% endfor %} -->
<!-- </div> -->
<!-- <c-button variant="outline" hx-get="{{ scenario.internal_id }}/area/crud/" hx-target=".area-form-container" hx-swap="beforeend">Add a area instance</c-button> -->
<!-- <!--  Defer and import as script --> -->
<!-- <script> -->
<!--   var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", -->
<!--     osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors', -->
<!--     osm = L.tileLayer(osmUrl, { -->
<!--       maxZoom: getMaxZoom(), -->
<!--       minZoom: getMinZoom(), -->
<!--       attribution: osmAttrib -->
<!--     }), -->
<!--     // Define the bounds -->
<!--     b = getBounds(); -->
<!--   bounds = L.latLngBounds( -->
<!--     L.latLng(b.lat_min, b.lng_min), // Southwest corner -->
<!--     L.latLng(b.lat_max, b.lng_max) // Northeast corner -->
<!--   ); -->
<!--   center = getCenter(); -->
<!--   map = new L.Map('map', { -->
<!--     maxBounds: bounds, -->
<!--     maxBoundsViscosity: 1.0, -->
<!--     center: new L.LatLng(center.lat, center.lng), -->
<!--     zoom: getZoom() -->
<!--   }); -->
<!--   drawnItems = L.featureGroup().addTo(map); -->
<!---->
<!--   // Add the layers/ FeatureGroups -->
<!--   const featureGroups = {}; -->
<!--   getLayerNames().forEach((lname) => { -->
<!--     featureGroups[lname] = L.featureGroup().addTo(map) -->
<!--   }); -->
<!---->
<!--   function drawElements() { -->
<!---->
<!--     const geometries = getGeoJsons(); -->
<!--     for (const featureGroup of Object.values(featureGroups)) { -->
<!--       featureGroup.clearLayers() -->
<!--     }; -->
<!--     geometries.forEach((geo) => { -->
<!--       geojson = geo.geojson; -->
<!--       layer_name = geo.layer; -->
<!---->
<!--       id = geo.id; -->
<!--       style = geo.style; -->
<!--       if (geojson.type == "Polygon") { -->
<!--         // GeoJSON Polygon coordinates are [[[lng, lat], [lng, lat], ...]] -->
<!--         // We need the first array (outer ring) and swap lng/lat -->
<!--         const coords = geojson.coordinates[0].map(([lng, lat]) => [lat, lng]); -->
<!--         const layer = L.polygon(coords, { -->
<!--           ...style, -->
<!--           interactive: true, -->
<!--           bubblingMouseEvents: true -->
<!--         }); -->
<!--         layer.id = id; -->
<!--         featureGroups[layer_name].addLayer(layer); -->
<!--         if (layer_name == getEditLayerName()) { -->
<!--           layer.editing.enable(); -->
<!--         } -->
<!---->
<!--       }; -->
<!--     }); -->
<!--   }; -->
<!---->
<!--   function toggleEditable() { -->
<!--     featureGroups[getEditLayerName()].eachLayer((layer) => { -->
<!--       if (layer.editing.enabled()) { -->
<!--         layer.editing.disable(); -->
<!--       } else { -->
<!--         layer.editing.enable(); -->
<!--       } -->
<!--     }) -->
<!--   } -->
<!--   toggleEditable(); -->
<!---->
<!--   osm.addTo(map); -->
<!--   // Do we need control over layers? They could be added here. For example another base layer -->
<!--   // or different layers for different objects -->
<!--   // L.control.layers({ -->
<!--   //   'osm': osm.addTo(map), -->
<!--   // }, { -->
<!--   //   'drawlayer': drawnItems -->
<!--   // }, { -->
<!--   //   position: 'topleft', -->
<!--   //   collapsed: true, -->
<!--   // let editHandler = new L.EditToolbar.Edit(map, { -->
<!--   //   featureGroup: featureGroups[getEditLayerName()]}); -->
<!---->
<!--   // editable layer is always enabled to edit -->
<!---->
<!--   // }).addTo(map); -->
<!--   map.addControl(new L.Control.Draw({ -->
<!--     edit: { -->
<!--       featureGroup: featureGroups[getEditLayerName()], -->
<!--       poly: { -->
<!--         allowIntersection: false -->
<!--       } -->
<!--     }, -->
<!--     draw: { -->
<!--       polygon: { -->
<!--         allowIntersection: false, -->
<!--         showArea: true -->
<!--       } -->
<!--     } -->
<!--   })); -->
<!--    // The classes that define if a input is put in the map are computed by alpine. -->
<!--    // Therefore we have to wait until its initialized -->
<!--   document.addEventListener('alpine:initialized',drawElements); -->
<!--   window.addEventListener("map-redraw", drawElements); -->
<!--   window.addEventListener("geom-changed", drawElements); -->
<!---->
<!---->
<!--   ['draw:editvertex', 'draw:editresize', 'draw:editmove', L.Draw.Event.EDITED].forEach(eventName => { -->
<!--     map.addEventListener(eventName, (event) => { -->
<!--       console.log('Event fired:', eventName, event); -->
<!--       layers =[]; -->
<!--       featureGroups[getEditLayerName()].eachLayer((layer) => layers.push(layer)); -->
<!--         var event = new CustomEvent('map-elements-edited', { -->
<!--           detail: { -->
<!--             layers: layers, -->
<!--             originalEvent: event -->
<!--           } -->
<!--         }); -->
<!--         map._container.dispatchEvent(event); -->
<!---->
<!--     }); -->
<!--   }); -->
<!---->
<!--   map.on(L.Draw.Event.CREATED, function(event) { -->
<!--     console.log('caught create'); -->
<!--     // Iterate over each layer -->
<!--     var layer = event.layer; -->
<!--     var event = new CustomEvent('map-element-created', { -->
<!--       detail: { -->
<!--         layer: layer, -->
<!--         originalEvent: event -->
<!--       } -->
<!--     }); -->
<!--     map._container.dispatchEvent(event); -->
<!--     // drawnItems.addTo(layer) -->
<!--     // NOTE: We dont add the layer to drawnItems yet. Instead elements are drawn based on the state of html/inputs -->
<!--     // This way we do not have to keep track of js/html state simultaneously -->
<!--     // if the element would be created by drawing we would have to keep track of it in js -->
<!--     // instead the html input stores the geojson, which is shown -->
<!---->
<!--   }); -->
<!-- </script> -->
<!---->
<!-- <script  src='{% static "map-events-interface.js" %}'></script> -->
<!-- {% endblock mainContent %} -->
