{% extends "core/base.html" %}
{% load partials %}
{% comment %}
  Based on
  https://github.com/bmlancien/enetra-app-prototype/blob/main/app/page.tsx
{% endcomment %}

{% block header %}
  <script>console.log('hello from header')</script>
{% endblock header %}
{% block sideBar %}
  <div>
    {% include "ports/partials/scenario_select.html" %}
    <div>
  hello from sideBar
  </div>
  </div>
  {% lorem 2 w  %}
{% endblock sideBar %}
{% block sideBarFooter %}
  hello from sideBarFooter
  {% lorem 2 w  %}
{% endblock sideBarFooter %}
{% block mainContent %}jj
  hello from mainContent
  {% lorem 5 w  %}
{% endblock mainContent %}
