{% extends "core/base.html" %}

{% load partials %}

{% comment %}
  Based on
  https://github.com/bmlancien/enetra-app-prototype/blob/main/app/page.tsx
{% endcomment %}
{% block header %}
  <script>
    console.log('hello from header')
  </script>
{% endblock header %}
{% block sideBar %}
  <div>
    <div class='bg-blue-50'>
      <!-- TODO: what is logic for colors? -->
      <!-- TODO: what is logic for pictures? -->
    {% include "ports/partials/scenario_select.html" %}
    </div>
    <div class="flex-1 overflow-auto p-[16px]">
      <c-tabs.index variant='lined'>

      <c-tabs.tab>
      <c-slot name='label'>Komponenten </c-slot>
          {% include 'ports/partials/komponenten_tab_panel.html' %}
      </c-tabs.tab>
      <c-tabs.tab>
      <c-slot name='label'>Flächen </c-slot>
      {% include 'ports/partials/flaechen_tab_panel.html' %}
      </c-tabs.tab>

      <c-tabs.tab>
      <c-slot name='label'>Allg.Rand-bedingungen</c-slot>
          Im the allg Randbedin
      </c-tabs.tab>
      </c-tabs.index>
    </div>
  </div>
{% endblock sideBar %}
{% block sideBarFooter %}
  <div>hello sideBarFooter from tool_base</div>
{% endblock sideBarFooter %}
{% block mainContent %}
  <c-detail-sidebar open class=''>
    <custom-tag id="detail-sidebar-main" class="detail-sidebar">
      {% include "ports/partials/detail_sidebar/detail_sidebar_main.html" %}
    </custom-tag>
    <custom-tag id="detail-sidebar-component" class="detail-sidebar">
      {% include "ports/partials/detail_sidebar/detail_sidebar_component.html" %}
    </custom-tag>
    <custom-tag id="detail-sidebar-template" class="detail-sidebar">
      {% include "ports/partials/detail_sidebar/detail_sidebar_template.html" %}
    </custom-tag>
  </c-detail-sidebar>
  <div>
  Here are some icons to use
    <c-icon.template class="w-5 h-5 text-blue-500 bg-yellow-400"/>
  <c-icon.info class="w-5 h-5 text-red-400"/>
  </div>
{% endblock mainContent %}
