<c-vars key layer :selected=False ></c-vars>
{% comment %}
NOTE: Inserted inputs and textareas need a unique id
Native html element which is used as state for the leaflet map
@input is mostly for debugging and allows changing the map based on input
{% endcomment %}
<div
    x-data='{selected: false, highlighted: false}'
    @item-unselected.window="$dispatch('map-item-stop-highlight', {value:'{{key}}'})"
    @item-selected.window="$dispatch('map-item-highlight', {value:'{{key}}'})"
    @input="$dispatch('geom-changed');"
    x-effect ="
    selected = $store.map.editingElements.has('{{key}}');
    highlighted = $store.map.highlightElements.has('{{key}}');
    "
    class='
    map-draw-element
    '
    :class='
    (selected && "map-layer-editable") ||
    (highlighted && "map-layer-selected") ||
    ("{{layer}}")'
>
{{slot}}
</div>
