<div x-data='{onIcon:false, onPopup: false}'
     class="icon-wrapper"
     style="position: relative;
            display: inline-block;
            margin: 0 2px">
  <div x-on:mouseenter='onIcon=true'
       x-on:mouseleave='setTimeout(()=>onIcon=false, 50);'>
                        {{slot}}
  </div>
            {% if badge %}
  <div style="position: absolute;
              top: -2px;
              right: -2px;
              width: 8px;
              height: 8px;
              background-color: #FDBA74;
              border: 1px solid #BD7B36;
              border-radius: 50%;
              pointer-events: none"></div>
            {% endif %}

            {% if popup %}
  <div class="icon-popover"
       x-on:mouseenter='onPopup=true;console.log(`pop`) '
       x-on:mouseleave='setTimeout(()=>onPopup=false, 50)'
       x-show='onIcon || onPopup'
       style="position: absolute;
              bottom: 28px;
              left: 50%;
              transform: translateX(-50%);
              background: white;
              border-radius: 12px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
              padding: 16px;
              min-width: 280px;
              transition: opacity 0.2s;
              z-index: 10000">

            {{popup}}
</div>

            {% endif %}
</div>
