{% with days=request.GET.days|default:'90' %}
{% with otherchanges=request.GET.otherchanges %}
<change-log-container class='block'
      x-data
      x-on:{{scenario.changed_event}}.document='$dispatch("trigger");console.log( "triggered")'
      hx-get="{% url 'ports:changes' scenario_internal_id=scenario.internal_id %}"
      hx-include="[name='days'], [name='otherchanges']"
      hx-trigger='click from:button.submit, trigger'
>
  <div class="htmx-indicator bg-red-500 loader"></div>



{% comment %}
  my-hide hides the containers while hx is in flight
{% endcomment %}
<details-sidebar-header class="my-hide block sticky top-0 bg-white border-b border-[#e2e8f0] p-[24px] z-[9999]">
  <div class="flex items-center justify-between gap-[8px]">
    <button
      @click="isOpen=false"
      class="flex items-center gap-[8px] hover:opacity-60 transition-opacity cursor-pointer"
    >
      <c-icon.arrow_left/>
      <span class="font-semibold text-[14px] text-[#1e293b]">Schließen</span>
    </button>
    <button @click="isOpen=false" class="flex-shrink-0 hover:opacity-60 transition-opacity">
      <c-icon.close/>
    </button>
  </div>
</details-sidebar-header>


<details-sidebar-content class='my-hide'>
  <div class="px-[20px] py-[24px] flex flex-col gap-[24px]"


    >
    <div class="flex gap-[8px] items-center">
      <div class="w-[24px] h-[24px]">
        <span class="w-full h-full">🔄️</span>
      </div>
      <p class="font-normal text-[16px] text-[#1e293b] uppercase">Änderungsverlauf</p>
    </div>
    <div class="flex flex-col gap-[8px]">
      <p class="font-semibold text-[14px] text-[#1e293b]">Zeitraum</p>
      <c-select.index
          classButton='border-[#94a3b8]!' selectedValue='{{days}}' inputName='days'>
        <c-select.button class='submit'
            selectValue='90'>
          Letzte 90 Tage
        </c-select.button>
        <c-select.button
            class='submit'
            selectValue='30'>
          Letzte 30 Tage
        </c-select.button
          >
        <c-select.button selectValue='7'

            class='submit'
          >
          Letzte 7 Tage
        </c-select.button>
      </c-select.index>
    </div>
    <div class="flex gap-[4px]">
        <input x-ref='otherchanges' name='otherchanges' class='hidden' value='{{otherchanges}}'>
      <button
        type='button'
        @click='$refs.otherchanges.value="false"'
        class="{% if not otherchanges == 'true' %}bg-[#0e7490] text-white hover:bg-[#e2e8f0]{% else %}  bg-[#f8fafc] text-[#64748b] hover:bg-[#0c647a]{% endif %}  font-semibold text-[14px] px-[12px] py-[4px] rounded-full  transition-colors submit">
          Ich ({{user_changes_count}})
        </button>
      <button
        type='button'
        @click='$refs.otherchanges.value="true"'
        class="{% if otherchanges == 'true' %}bg-[#0e7490] text-white hover:bg-[#e2e8f0]{% else %}  bg-[#f8fafc] text-[#64748b] hover:bg-[#0c647a]{% endif %} font-semibold text-[14px] px-[12px] py-[4px] rounded-full  transition-colors submit">
          Andere Beteiligte ({{other_changes_count}})
      </button>
    </div>

    <div class="flex flex-col gap-[0px]">
      {% for i in item_original_items %}
      <c-change-log-item :status=i.status :item=i.item original_item=i.original_item />
        {% endfor %}
    </div>
  </div>
</details-sidebar-content>
</change-log-container>

{% endwith %}
{% endwith %}
