
{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrieren – Enetra</title>
    {% include "core/imports.html" %}
  </head>
  <body class="bg-slate-50 font-[Inter,sans-serif] text-slate-800 min-h-screen flex flex-col items-center justify-center px-4 py-12">

    <div class="w-full max-w-sm flex flex-col items-center gap-8">
      Eine E-Mail mit einem aktivierungslink wurde an ihre email
      <p>
        {{email}}
      </p>
      gesendet

    </div>

    <script>lucide.createIcons();</script>
  </body>
</html>
