<c-vars variant debugWidget=False></c-vars>
<div x-data=' {
  activeTab: $el.querySelector("{{ activeTabSelector|default:".tab-panel" }}"),
  tabs: $el.querySelectorAll(".tab-panel"),
  }'
     class='w-full'>
  <div class=" flex gap-[8px] items-end mb-[24px] justify-between {% if variant == 'lined' %}border-b border-[#e2e8f0]{% endif %} ">
    <template x-for="tab in tabs">
      <button
        role="tab"
        :aria-selected='tab==activeTab'
        :aria-controls='await $nextTick();return tab.id'
        :id='await $nextTick();return "tab-"+tab.id'
        @click='activeTab = tab'
        {% if variant == 'lined' %}
          class="flex-1 pb-[8px] px-[12px] border-b-2 leading-4 cursor-pointer bg-transparent text-[14px] font-['Inter:Medium',sans-serif] font-semibold"
          :class='tab==activeTab ? "border-[#0e7490] text-[#0e7490]" : "border-transparent text-[#64748b]"'
        {% else %}
          class='inline-flex items-center justify-center px-[12px] py-[6px] rounded-[100px] text-[14px] font-['Inter:Medium',sans-serif] transition-colors font-semibold cursor-pointer
          :class='tab==activeTab ? "bg-[#E2E8F0] text-[#1E293B]" : "bg-white text-[#64748B]" '
        {% endif %}
        >
        <div x-html='tab.querySelector(".tab-label").innerHTML'></div>
      </button>
    </template>
  </div>
  {{slot}}
</div>
