<c-vars expanded></c-vars>
<details class="flex flex-col group size-full " {% if expanded %}open{% endif %} >
  <summary
          class="flex items-center justify-between w-full text-left hover:opacity-80 transition-opacity cursor-pointer border-b-0 pt-0 pb-0">
    <div class="flex items-center ">
      <p class="font-['Inter:Semi_Bold',sans-serif] text-[#1e293b] text-[14px] font-normal">
                {{title|default:"Use a slot 'title' to pass a title to the expand" }}
      </p>
    </div>
    <svg class='w-[16px] h-[16px] transform transition-transform opacity-50 group-open:rotate-180'
         viewBox="0 0 16 16"
         fill="none"
         stroke="currentColor"
         stroke-width="2">
      <path d="M12 6L8 10L4 6" strokeLinecap="round" strokeLinejoin="round" />
    </svg>
  </summary>
  <!-- {/* Expanded Content */} -->
  <div
       class="border-[#cbd5e1] border-b border-solid flex flex-col items-start pb-px rounded-[8px] w-full ">
        {{slot}}
  </div>
</details>
