{% load constants %}

<div class="flex flex-col gap-[16px]">
  <div class="flex items-center gap-[8px] mb-[8px]">
    <div class="w-[12px] h-[12px] bg-[#a78bfa] rounded-[2px]"></div>
    <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold text-[#1e293b] text-[14px] uppercase tracking-wide">
      GEBÄUDEFLÄCHEN
    </div>
    <div>
    <form>
      <c-list.index id='flaechen-tab-building-area-list' count title="Meine Gebäude" @detail-sidebar-closed.document="selected = null; $el.querySelectorAll('input:checked').forEach(el=>el.checked=false)" hiddenInputName='internal_ids' modeCallback="$dispatch('hide-detail-sidebar');"
    >

        {% comment %}
        hx-get the proper template in regards to bulkMode.
        hx behaviour is set through the defaultHxDetails flag
        ports/templates/ports/partials/detail_sidebar/detail_sidebar_main.html
        {% endcomment %}

        {% comment %}
        the hx request is triggerd through a alpine NextTick, so the alpine input reflects the current state

        NOTE:
        trying to control the oob-swap via hx-swap-oob does not work with the hx-preserved input
        hx-swap-oob='none'
        if swaps should be skipped, dont pass them to the template
        for live checking of duplicates the uniqueid can be used
        {% endcomment %}

      {% partialdef list-item-and-form %}
        {% if item.has_authorization %}

          <c-list.item
            id='button-list-item-{{ item.internal_id }}'
            :defaultHxDetails=True
            :active=True
            :selected=False
            :indicated=False
            :item=item
            hx-swap-oob='true'
            value='{{ item.internal_id }}'
            title='{{item.name}}'
            radioName='internal_id'
            hx-on::load="{{ createItemCallback }}"
        >
          <c-slot name="singleModeIcon">
            {% include "ports/partials/list_item_ellipsis.html" %}
          </c-slot>
          <c-slot name="notSelectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=True />
          </c-slot>
          <c-slot name="selectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=False />
          </c-slot>
          </c-list.item>
        {% else %}
          <c-list.item
            id='button-list-item-{{ item.internal_id }}'
            :active=False
            :selected=False
            :indicated=False
            :item=item
            hx-swap-oob='true'
            value='{{ item.internal_id }}'
            title='{{item.name}}'
            radioName='internal_id'
        >
          <c-slot name="notSelectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=True />
          </c-slot>
          <c-slot name="selectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=False />
          </c-slot>
          </c-list.item>
        {% endif %}
      {% endpartialdef %}
        {% for item in building_areas %}
          {% partial list-item-and-form %}

        {% endfor %}
      </c-list>
    </form>

    {% comment %}
    These elements represent the state of the map elements.
    Hidden by default, but can be inspected for debugging purposes
    {% endcomment %}
    <div id="geom_forms_container" class="hidden h-30 border-2 m-2 overflow-y-scroll overflow-clip">
      {% for geom_form in area_forms %}
          <div id="geom_form_container_{{geom_form.instance.internal_id}}"
              hx-swap-oob='true'
          >
          {% include 'ports/partials/map_element.html' with form=geom_form %}
          </div>
      {% endfor %}
    </div>


    {% partialdef add-gebaeudeflaeche-button inline %}
      <button type='button'
              class="w-full mt-[12px] text-[#0e7490] font-['Inter:Bold',sans-serif] font-bold text-[14px] text-center cursor-pointer hover:text-[#0891b2] transition-colors"
              hx-post="{% url 'ports:details_create' scenario_internal_id=scenario.internal_id model='area' %}"
              hx-vals='{"area_type": "{{ Area.AreaTypeChoices.BUILDING|assertValue }}" }'
              hx-indicator="#detailSidebar"
              hx-swap="none"
              hx-on::trigger="dispatchEvent(new CustomEvent('show-detail-sidebar'));  "
    >+ Gebäudefläche</button>
    {% endpartialdef %}
    </div>
    <div>
      <div class="flex items-center gap-[8px] mb-[8px] pb-0 pt-4 border-t">
        <div class="w-[12px] h-[12px] bg-[#C6E474] rounded-[2px]"></div>
        <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold text-[#1e293b] text-[14px] uppercase tracking-wide">
          FREIFLÄCHEN
        </p>
      </div>

    <form>
      <c-list.index id='flaechen-tab-open-area-list' count title="Meine Freiflächen" @detail-sidebar-closed.document="selected = null; $el.querySelectorAll('input:checked').forEach(el=>el.checked=false)" hiddenInputName='internal_ids' modeCallback="$dispatch('hide-detail-sidebar');"
      >
        {% for item in open_areas %}
          {% comment %}
        hx-get this template with the item injected
        ports/templates/ports/partials/detail_sidebar/detail_sidebar_main.html
          {% endcomment %}
      {% partial list-item-and-form %}
        {% endfor %}
      </c-list>
    </form>
    {% partialdef add-freiflaeche-button inline %}
      <button type='button'
              class="w-full mt-[12px] text-[#0e7490] font-['Inter:Bold',sans-serif] font-bold text-[14px] text-center cursor-pointer hover:text[#0891b2] transition-colors"
              hx-post="{% url 'ports:details_create' scenario_internal_id=scenario.internal_id model='area' %}"
              hx-vals='{"area_type": "{{ Area.AreaTypeChoices.OPEN|assertValue }}" }'
              hx-indicator="#detailSidebar"
              hx-swap="none"
              hx-on::trigger="dispatchEvent(new CustomEvent('show-detail-sidebar'));">
          + Freifläche</button>
    {% endpartialdef %}
    </div>
    <div class="pt-0">
    <div>{% include "ports/partials/andere_beteiligte.html" %}</div>
    </div>
  </div>
  {% comment %}
    <List variant="list" items={lagerhalleItems} selectedId={selectedItemId} onItemSelect={handleItemSelect} scenarioState={scenarioState}/>
      <AndereBeteiligte />
    <List variant="list" items={freiflacheItems} selectedId={selectedItemId} onItemSelect={handleItemSelect} scenarioState={scenarioState}/>
  {% endcomment %}
