{% load constants %}

<div class="flex flex-col gap-4">
  <div class="flex items-center gap-2">
    <div class="w-3 h-3 bg-[#a78bfa] rounded-xs"></div>
    <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold text-[#1e293b] text-[14px] uppercase tracking-wide">
      GEBÄUDEFLÄCHEN
  </div>
  <div class="flex items-center gap-2 mb-2 pb-0 ">
    <div class="w-3 h-3 bg-[#C6E474] rounded-xs"></div>
    <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold text-[#1e293b] text-[14px] uppercase tracking-wide">
      FREIFLÄCHEN
    </p>
  </div>
  <div>
    <div
      class="relative w-full max-w-sm"
      x-data="{ search: null }" >
      <input type='search'
        class="w-full max-w-sm border-0 border-b border-gray-300 bg-transparent px-1 py-2 text-sm outline-none focus:border-gray-900"
        placeholder="Fläche Suchen"
        x-model='search'
        x-init="searchName( search, document.querySelector('#flaechen-tab-area-list div.slot'),'.cotton-list-item')"
        x-effect="searchName( search, document.querySelector('#flaechen-tab-area-list div.slot'),'.cotton-list-item')"

      />
      <button
        type="button"
        x-show="search"
        x-on:click="search = ''"
        class="absolute text-xl right-2 top-1/2 -translate-y-1/2 text-gray-400 hover:text-gray-700 cursor-pointer"
        aria-label="Clear search"
      >
        &times;
      </button>
    </div>
    <form>
      <c-list.index id='flaechen-tab-area-list' count title="Meine Flächen" @detail-sidebar-closed.document="selected = null; $el.querySelectorAll('input:checked').forEach(el=>el.checked=false)" hiddenInputName='internal_ids' modeCallback="$dispatch('hide-detail-sidebar');"
      >

        {% comment %}
        hx-get the proper template in regards to bulkMode.
        hx behaviour is set through the defaultHxDetails flag
        ports/templates/ports/partials/detail_sidebar/detail_sidebar_main.html
        {% endcomment %}

        {% comment %}
        the hx request is triggerd through a alpine NextTick, so the alpine input reflects the current state

        NOTE:
        trying to control the oob-swap via hx-swap-oob does not work with the hx-preserved input
        hx-swap-oob='none'
        if swaps should be skipped, dont pass them to the template
        for live checking of duplicates the uniqueid can be used
        {% endcomment %}

        {% partialdef list-item-and-form %}
        {% if item.has_authorization %}

        <c-list.item
          id='button-list-item-{{ item.internal_id }}'
          :defaultHxDetails=True
          :active=True
          :selected=False
          :indicated=False
          :item=item
          hx-swap-oob='true'
          value='{{ item.internal_id }}'
          title='{{item.name}}'
          radioName='internal_id'
          hx-on::load="{{ createItemCallback }}"
          :data-name="item.name"
        >
          <c-slot name="singleModeIcon">
            {% include "ports/partials/list_item_ellipsis.html" %}
          </c-slot>
          <c-slot name="notSelectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=True />
          </c-slot>
          <c-slot name="selectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=False />
          </c-slot>
        </c-list.item>
        {% else %}
        <c-list.item
          id='button-list-item-{{ item.internal_id }}'
          :active=False
          :selected=False
          :indicated=False
          :item=item
          hx-swap-oob='true'
          value='{{ item.internal_id }}'
          title='{{item.name}}'
          radioName='internal_id'
          :data-name="item.name"
        >
          <c-slot name="notSelectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=True />
          </c-slot>
          <c-slot name="selectedIndicator">
            <c-component is="{{item.list_icon}}" class="text-[#0E7490]" :outline=False />
          </c-slot>
        </c-list.item>
        {% endif %}
        {% endpartialdef %}
        {% for item in all_areas %}
          {% partial list-item-and-form %}
        {% endfor %}
      </c-list>
    </form>

    {% comment %}
    These elements represent the state of the map elements.
    Hidden by default, but can be inspected for debugging purposes
    The geometries are lazy loaded for fast first draw of page. The map is redrawn afterwards
    {% endcomment %}
    <div id="geom_forms_container" class="hidden h-30 border-2 m-2 overflow-y-scroll overflow-clip"
      hx-get="{% url 'ports:geometries' scenario.internal_id %}"
      hx-trigger="load"
      hx-swap='innerHTML'
      hx-on::after-settle=" htmx.trigger('body' ,'map-redraw-sync');
      myMap.fitToElements();
      "
    >
    </div>

    {% partialdef add-gebaeudeflaeche-button inline %}
    <button type='button'
      class="w-full mt-3 text-[#0e7490] font-['Inter:Bold',sans-serif] font-bold text-[14px] text-center cursor-pointer hover:text-[#0891b2] transition-colors"
      hx-post="{% url 'ports:details_create' scenario_internal_id=scenario.internal_id model='area' %}"
      hx-vals='{"area_type": "{{ Area.AreaTypeChoices.BUILDING|assertValue }}" }'
      hx-indicator="#detailSidebar"
      hx-swap="none"
      hx-on::trigger="dispatchEvent(new CustomEvent('show-detail-sidebar'));  "
    >+ Gebäudefläche</button>
    {% endpartialdef %}
    {% partialdef add-freiflaeche-button inline %}
    <button type='button'
      class="w-full mt-3 text-[#0e7490] font-['Inter:Bold',sans-serif] font-bold text-[14px] text-center cursor-pointer hover:text[#0891b2] transition-colors"
      hx-post="{% url 'ports:details_create' scenario_internal_id=scenario.internal_id model='area' %}"
      hx-vals='{"area_type": "{{ Area.AreaTypeChoices.OPEN|assertValue }}" }'
      hx-indicator="#detailSidebar"
      hx-swap="none"
      hx-on::trigger="dispatchEvent(new CustomEvent('show-detail-sidebar'));">
      + Freifläche</button>
    {% endpartialdef %}
  </div>
  <div class="pt-0">
    <div>{% include "ports/partials/andere_beteiligte.html" %}</div>
  </div>
</div>
{% comment %}
<List variant="list" items={lagerhalleItems} selectedId={selectedItemId} onItemSelect={handleItemSelect} scenarioState={scenarioState}/>
<AndereBeteiligte />
<List variant="list" items={freiflacheItems} selectedId={selectedItemId} onItemSelect={handleItemSelect} scenarioState={scenarioState}/>
{% endcomment %}
