
<button type="button"
  hx-post="{% url 'ports:details' scenario_internal_id=scenario.internal_id model=instance.model_name %}"
  hx-select="#form_{{instance.internal_id}}"
  hx-target="#form_{{instance.internal_id}}"
  hx-swap="outerHTML"
  class="w-full rounded-full border-[0] bg-[#0e7490] py-1.5 text-[14px] font-semibold text-white transition-colors hover:bg-[#0c647a]"
  hx-disabled-elt="this"
  hx-indicator="this"
>
  <span class='htmx-indicator loader align-middle'></span>
  {% if success %}
  <div x-data='{show: true}' x-init="setTimeout(()=>show=false, 2000)">
    <span class='animate-in fade-in duration-1000 my-hide align-middle min-w-fit' x-show="show"
    >✓ Gespeichert</span>
    <span class='my-hide align-middle' x-show="!show">Speichern</span>
  </div>
  {% elif errors %}
  <div x-data='{show: true}' x-init="setTimeout(()=>show=false, 2000)">
    <span class='animate-in fade-in duration-1000 my-hide align-middle' x-show="show"
    >Fehlgeschlagen</span>
    <span class='my-hide align-middle' x-show="!show">Speichern</span>
  </div>
  {% else %}
  <span class='my-hide align-middle' >Speichern</span>
  {% endif %}
</button>

{% comment %}
use more animation, e.g. fade out?
x-transition:leave="animate-out fade-out duration-500 fill-mode-forwards"
{% endcomment %}
