<div class="bg-white content-stretch flex flex-col gap-[24px] items-start relative size-full">
  <!-- {/* Flächenbezogene Komponenten Section */} -->
  <c-expand.index expanded>
  <c-slot name="title">
  <div class="flex items-center gap-[8px]">
    <h3 class="text-[16px] text-[#1e293b] font-semibold">Flächenbezogene Komponenten</h3>
    <div class="flex-shrink-0 w-[16px] h-[16px] text-[#64748b]">
      <c-icon.info />
    </div>
  </div>
  </c-slot>
  <div class="flex flex-col gap-[8px] pt-[8px] size-full">
    <div class="flex justify-end">
      <button class="text-[14px] font-semibold text-[#0e7490] hover:opacity-80 transition-opacity">Filteroptionen</button>
    </div>
    <div class="border border-[#cbd5e1] rounded-[8px] bg-[#f8fafc] overflow-hidden">
      <div class="bg-[#f8fafc] p-[12px] border-b border-[#cbd5e1]">
        <h4 class="font-semibold text-[14px] text-[#1e293b]">Komponenten</h4>
      </div>
      <!-- {/* Generator */} -->
      <div class="border-b border-[#cbd5e1] bg-white">
        <div class="flex flex-col items-center justify-between p-[12px] py-2 border-b border-[#cbd5e1]">
          <c-list :border=False title="Generator">
              {% for generator in generators %}
              <div class="contents"
                hx-get="{% url 'ports:details' scenario_internal_id=scenario.internal_id model=generator.model_name internal_id=generator.internal_id %}"
                hx-target="#detailSidebar"
                hx-swap="innerHTML"
              >
              <c-list.item :border=False :selected=False title='{{generator.name}} ({{generator.area.name}})' :indicated=False value={{generator.internal_id}} radioName='selected-generators' />
                </div>
              {% endfor %}
          </c-list>
        </div>
        <div class="flex flex-col items-center justify-between p-[12px] py-2 border-b border-[#cbd5e1]">
          <c-list :border=False title="Heizsystem konventionell">

              {% for heater in heaters %}
              <c-list.item :border=False :selected=False title="{{heater.name}} ({{heater.area.name}})" :indicated=False :callback="handleViewChange('template','Heizsystem','{{heater.internal_id}}')" value={{heater.internal_id}} radioName='selected-heaters' />
              {% endfor %}
          </c-list>
        </div>
        <div class="flex flex-col items-center justify-between p-[12px] py-2">
          <c-list :border=False title="Photovoltaik">

              {% for solar in solars %}
              <c-list.item :border=False :selected=False title="{{solar.name}} ({{solar.area.name}})" :indicated=False :callback="handleViewChange('template','Photovoltaik','{{solar.internal_id}}')" value={{solar.internal_id}} radioName='selected-solars' />              {% endfor %}
          </c-list>
        </div>
      </div>
    </div>
  </div>
  </c-expand.index>
  <c-expand.index expanded>
  <c-slot name="title">
  <div class="flex items-center gap-[8px]">
    <h3 class="text-[16px] text-[#1e293b] font-semibold">Vorlagen Bibliothek</h3>
    <div class="flex-shrink-0 w-[16px] h-[16px] text-[#64748b]">
      <c-icon.info />
    </div>
  </div>
  </c-slot>
  <div class="flex flex-col gap-[8px] pt-[8px] size-full">
    <div class="flex justify-end">
      <button class="text-[14px] font-semibold text-[#0e7490] hover:opacity-80 transition-opacity">+Vorlage</button>
    </div>
    <div class="border border-[#cbd5e1] rounded-[8px] bg-[#f8fafc] overflow-hidden">
      <c-list :border=False customTitle >
        <c-slot name="title">
      <div class="flex justify-between bg-[#f8fafc] p-[12px] border-b border-[#cbd5e1] size-full">
        <h4 class="font-semibold text-[14px] text-[#1e293b]">Vorlagen</h4>
              <c-list.button/>
      </div>
          </c-slot>
      <c-list.item :border=False :selected=False title="Generator Vorlage" :indicated=False callback="handleViewChange('template-detail','Generator','Generator')"/>
      </c-list>
    </div>
  </div>
  </c-expand.index>
</div>
