
<!-- {/* Map Legend */} -->
<div class="bg-white rounded-[8px] shadow-[0px_4px_8px_rgba(0,0,0,0.15)] p-[16px] min-w-[140px]">
  <!-- {/* Gebäudeflächen Section */} -->
  <div class="temporary bg-orange-100 border-2 border-black p-2 ">
    Map elements can have popups. They react to clicks without modifiers.
    <br>
    Map elements can be selected. This works by clicking their input below, or clicking them on the map with SHIFT modifier
    Popups are directly implemented through &lt c-map-popup &gt inside &lt c-map-element &gt
  </div>
  <div class="mb-[8px]">
    <div class="flex items-center gap-[12px] mb-[4px]">
      <div class="bg-[#a78bfa] rounded-[4px] w-4 h-4"></div>
      <span class="text-[#1e293b] text-sm font-normal">Gebäudeflächen</span>
      <button class="ml-auto rounded-full border-2 border-[#64748b] flex items-center justify-center text-[#64748b] text-[12px] font-bold w-4 h-4">
        i
      </button>
    </div>
    <div class="ml-[24px]">
      <button class="text-[#0e7490] text-[14px] font-bold">+ Gebäudefläche</button>
    </div>
  </div>
  <!-- {/* Freiflächen Section */} -->
  <div>
    <div class="flex items-center gap-[12px] mb-[4px]">
      <div class="bg-[#c6e474] rounded-[4px] w-4 h-4"></div>
      <span class="text-[#1e293b] text-sm font-normal">Freiflächen</span>
      <button class="ml-auto rounded-full border-2 border-[#64748b] flex items-center justify-center text-[#64748b] text-[12px] font-bold w-4 h-4">
        i
      </button>
    </div>
    <div class="ml-[24px]">
      <button class="text-[#0e7490] text-[14px] font-bold">+ Freifläche</button>
    </div>
  </div>
</div>
