<form
  id="geom_form_{{form.instance.internal_id}}"
  hx-post='{% url "ports:patch_area" scenario_internal_id=form.instance.scenario.internal_id %}'
  hx-swap='none'
  hx-on::trigger="console.log('triggerd submit')"
  hx-trigger="submit, change"
  hx-on::after-request="htmx.trigger('body' ,'refresh_{{form.form.instance.internal_id}}');"
>
  {% csrf_token %}
  <c-map-element.index :key="form.instance.internal_id" layer='map-layer-area'>
    <label class="">{{form.instance.name}}</label>
    <div class='hidden'>
    {{form.internal_id}}
    </div>
    <c-tail-input :field=form.geom
      rows='2'
      id='geom_{{form.instance.internal_id}}'
      type='text'
      class='border-black border-2 bg-gray-200'
      :name='form.geom.name'
    />
    <c-map-element.popup>
      Im the content of the popup
      Im not sure we will use this? maybe
      Click the layer to show me
    </c-map-element.popup>
    <div class="hidden">
      <!-- Put a label on the map. works inside a c-map-element -->
      <c-map-element.marker :name='form.instance.name'>

    {% for component in  form.instance.generator_set.all %}
        <!-- Put a marker icon on the map -->
        <c-map-element.marker-icon>
          <c-icon.technical-building class='w-[28px] h-[28px]'/>
          <!-- Give the icon a popup -->
          <c-slot name='popup'>
            <!-- This is a content specific cotton component. it should accept a model instance and create proper popup content -->
            <c-map-element-popup :instance=component >
              <c-slot name='icon'>
                <c-icon.technical-building class='w-[28px] h-[28px]'/>
              </c-slot>
            </c-map-element-popup>
          </c-slot>
        </c-map-element.marker-icon>
      {% endfor %}
      </c-map-element.marker>


    </div>
  </c-map-element.index>
</form>
