  {# DEBUG: user-switch buttons — remove before production #}
{% load static %}
{% comment %}
<!-- import htmx. Only needed for the helper view when trying to access a scenario/project without authorization -->
<!-- NOTE: If htmx plugins are used this breaks the plugins -->
{% endcomment %}
<script src='{% static "htmx.min.js" %}'>'</script>
  <div class="user-debug-buttons  bg-white p-2 border fixed bottom-4 right-4 z-[99999] flex flex-col gap-2"
    x-data='{expanded:false}'
    :class="expanded ? 'h-auto' : 'h-4'"
    hx-headers='{"X-CSRFTOKEN": "{{ csrf_token }}"}'
    hx-swap="outerHTML"
    hx-target=".user-debug-buttons"
  >
    <span class='cursor-pointer bg-green-200'
    @click='expanded=!expanded'
  >Toggle debug size</span>
    <span class='text-ellipsis w-5'>{{csrf_token}}</span>
    <span class='w-40 text-xs break-after-all'>This lets you swap user with or without full reload. This lets you check if backend properly returns forbbidden responses, when requesting non permissed items</span>

    <span class='w-40 text-xs font-semibold break-after-all'>Logged in as {{request.user}}</span>
    <button
      hx-post="{% url 'ports:debug_switch_user' 'SUPERUSER' %}"
      hx-on::before-request="
      function h(e){
        // Trigger Refresh if this button finished switching users
        if(e.detail.elt===htmx.find('.user-debug-buttons')){
          window.location.reload();
        }
      }
      document.addEventListener('htmx:afterSettle',h);
      "
      class="px-3 py-1 text-xs font-mono rounded shadow bg-green-300 hover:bg-green-400 opacity-80">
      As superuser
    </button>
    <button
      hx-post="{% url 'ports:debug_switch_user' 'fo@fo' %}"
      hx-on::before-request="
      function h(e){
        // Trigger Refresh if this button finished switching users
        if(e.detail.elt===htmx.find('.user-debug-buttons')){
          window.location.reload();
        }
      }
      document.addEventListener('htmx:afterSettle',h);
      "
      class="px-3 py-1 text-xs font-mono rounded shadow bg-amber-300 hover:bg-amber-400 opacity-80">
      user1 (fo@fo)
    </button>
    <button
      hx-post="{% url 'ports:debug_switch_user' 'ba@ba' %}"
      hx-on::before-request="
      function h(e){
        // Trigger Refresh if this button finished switching users
        if(e.detail.elt===htmx.find('.user-debug-buttons')){
          window.location.reload();
        }
      }
      document.addEventListener('htmx:afterSettle',h);
      "
      class="px-3 py-1 text-xs font-mono rounded shadow bg-sky-300 hover:bg-sky-400 opacity-80">
      user2 (ba@ba)
    </button>

    <button
      hx-post="{% url 'ports:debug_switch_user' 'ca@ca' %}"
      hx-on::before-request="
      function h(e){
        // Trigger Refresh if this button finished switching users
        if(e.detail.elt===htmx.find('.user-debug-buttons')){
          window.location.reload();
        }
      }
      document.addEventListener('htmx:afterSettle',h);
      "
      class="px-3 py-1 text-xs font-mono rounded shadow bg-sky-300 hover:bg-sky-400 opacity-80">
      user3 (ca@ca) not in project group
    </button>
    <button
      hx-post="{% url 'ports:debug_switch_user' 'fo@fo' %}"
      class="px-3 py-1 text-xs font-mono rounded shadow bg-amber-100 hover:bg-amber-200 opacity-80"
      hx-on::before-request="
       function h(e){
         // Update the csrf attribute after switching users so htmx request dont fail on csrf
         el = htmx.find('.user-debug-buttons');
         if(e.detail.elt===el){
           document.removeEventListener('htmx:afterSettle',h);
           csrf =el.getAttribute('hx-headers');
           document.body.setAttribute('hx-headers', csrf);
         }else{
           console.log(e.detail.elt)
         }
       }
       document.addEventListener('htmx:afterSettle',h);
       "
  >

      user1 (fo@fo) no reload
    </button>
    <button
      hx-post="{% url 'ports:debug_switch_user' 'ba@ba' %}"
      class="px-2 py-1 text-xs font-mono rounded shadow bg-sky-100 hover:bg-sky-200 opacity-80"
      hx-on::before-request="
       function h(e){
         el = htmx.find('.user-debug-buttons');
         if(e.detail.elt===el){
           document.removeEventListener('htmx:afterSettle',h);
           csrf =el.getAttribute('hx-headers');
           document.body.setAttribute('hx-headers', csrf);
         }else{
           console.log(e.detail.elt)
         }
       }
       document.addEventListener('htmx:afterSettle',h);
       "
  >
      user2 (ba@ba) no reload
    </button>
  </div>
