{% load static %}
    <!-- Footer -->
    <footer class="select-none bg-white border-t border-slate-200 flex items-center justify-between px-6 h-12">
    <img src='{% static "img/enetra-logo.svg" %}' alt="ENETRA" class="h-4 object-contain" />
      <nav class="flex gap-6 items-center">
        <a href="#" class="text-sm text-slate-500 hover:text-slate-800 transition-colors duration-150">Impressum</a>
        <a href="#" class="text-sm text-slate-500 hover:text-slate-800 transition-colors duration-150">Datenschutz</a>
        <a href="#" class="text-sm text-slate-500 hover:text-slate-800 transition-colors duration-150">Kontakt</a>
      </nav>
    </footer>
