{% load static %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>

<script defer src='{% static "alpine.min.js" %}'></script>
<script src='{% static "htmx.min.js" %}'>'</script>
<script src='{% static "util.js" %}'>'</script>

    <!-- TODO: Remove: This makes using crispy-tailwind possible, but in later stages we want custom styled inputs anyways -->
    <!-- It also allows designing with new tailwind css classes without the need of running the tailwind cli -->
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<!-- Select2 for better selects -->
<script
			  src="https://code.jquery.com/jquery-4.0.0.slim.min.js"
			  integrity="sha256-8DGpv13HIm+5iDNWw1XqxgFB4mj+yOKFNb+tHBZOowc="
			  crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js">
</script>


<!-- Remove this later -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

<!-- Tailwind CSS (compiled output) -->
<link rel="stylesheet" href='{% static "css/output.css" %}' />

<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.min.js"></script>

{% load constants %}
{% events_data as EVENTS %}
<script>
const EVENTS = {{ EVENTS|safe }};
console.log("The following EVENTS exists globally")
console.log(EVENTS)
</script>
