{% load static %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
<script defer src='{% static "alpine.min.js" %}'></script>
<script src='{% static "htmx.min.js" %}'></script>

    <!-- TODO: Remove: This makes using crispy-tailwind possible, but in later stages we want custom styled inputs anyways -->
    <!-- It also allows designing with new tailwind css classes without the need of running the tailwind cli -->
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Calligraffitti&family=Geist:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
{% load constants %}
{% events_data as EVENTS %}
<script>
const EVENTS = {{ EVENTS|safe }};
console.log("The following EVENTS exists globally")
console.log(EVENTS)
</script>
