{% extends "core/base_management.html" %}
{% load static %}
{% block mainContent %}
    <!-- Main Content -->
    <main class="px-6 lg:px-12 py-12 flex-1">
      <div class="max-w-[1344px] mx-auto w-full flex flex-col gap-8">

        <!-- Page Header -->
        <div class="select-none flex flex-col gap-2">
          <h1 class="text-[40px] font-bold leading-normal text-slate-800">Meine Projekte</h1>

          <p class="text-xs text-slate-500">Angemeldet als {{request.user}}</p>
          <p class="text-base text-slate-500">Verwalten deine Binnenhafenenergie-Forschungsprojekte und Szenarien</p>
        </div>


          <c-toolbar.index
            search_placeholder="Projekte Durchsuchen Durchsuchen..."
          >
          <c-slot name="sort_buttons">
            <c-toolbar.sort_button sort_key='name' name="Name" />
            <c-toolbar.sort_button sort_key='last_update' name="Zuletzt Aktualisiert" />
          </c-slot>
          <c-slot name="card_view">

            <div id="filterable_cards" class="grid grid-cols-3 gap-4">
            {% for project in projects %}
            {% include "core/partials/project_card.html" with title=project.name last_update_sortable=project.last_update %}
            {% endfor %}
            </div>
            <c-slot name='button_slot'>

            <button
              command="show-modal" commandfor="project-create-modal"
              class="select-none ml-auto px-6 py-2 bg-cyan-700 hover:bg-cyan-800 transition-colors duration-150 rounded-full flex items-center gap-2 shrink-0 cursor-pointer">
              <i data-lucide="plus-circle" class="w-4 h-4 text-white"></i>
              <span class="text-sm font-semibold text-white">Projekt erstellen</span>
            </button>

            {% include 'core/partials/create_project.html' with id="project-create-modal" form=create_project_form %}

            </c-slot>

          </c-slot>


          <c-slot name="table_view">
          <!-- Table View -->
            <table class="w-full text-sm text-left border-collapse">
              <thead>
                <tr class="border-b border-slate-200 bg-white">
                  <th class="select-none px-6 py-3 text-xs font-semibold text-slate-500 uppercase tracking-wider">Name</th>
                  <th class="select-none px-6 py-3 text-xs font-semibold text-slate-500 uppercase tracking-wider">Status</th>
                  <th class="select-none px-6 py-3 text-xs font-semibold text-slate-500 uppercase tracking-wider">Zuletzt aktualisiert</th>
                  <th class="select-none px-6 py-3 text-xs font-semibold text-slate-500 uppercase tracking-wider"></th>
                </tr>
              </thead>
              <tbody id="filterable_table" class="divide-y divide-slate-100">
              {% for project in projects %}
              {% include "core/partials/project_row.html" with title=project.name last_update_sortable=project.updated_at %}
              {% endfor %}

              </tbody>
            </table>
          </c-slot>

          </c-toolbar.index>



      </div>
    </main>
{% endblock mainContent %}
