<div
    x-show="open"
    @click.outside="open = false"
    x-transition:enter="animate-in fade-in-0 fill-mode-both"
    x-transition:leave="animate-out  fade-out-0 fill-mode-both"
    class="
    absolute
    z-50
    min-w-32
    overflow-hidden
    rounded-md
    border
    bg-popover
    text-popover-foreground
    shadow-md
    data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2
    data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2
    {% if class %}
        {{ class }}
    {% endif %}
    "
    {{ attrs }}
>
  <ul>
    {{ slot }}
  </ul>
</div>
