{% comment %}
from https://flowbite.com/docs/components/alerts/ -->
{% endcomment %}
{% load static  %}

<c-vars variant="info" icon="true" title></c-vars>
<div
{% comment %}
Some htmx attributes are inherited. by wrapping htmx inside a hx-disinherit for all (*) attributes.
The default behaviour is recreated
{% endcomment %}
    hx-disinherit="*"
    class="{{class}} p-4 mb-4 text-sm rounded-base

{% if variant == 'info' %}bg-blue-50 border-blue-200 text-blue-700
{% elif variant == 'danger' %}bg-red-50 border-red-200 text-red-700
{% elif variant == 'success' %}bg-green-50 border-green-200 text-green-700
{% elif variant == 'warning' %} bg-yellow-50 border-yellow-200 text-yellow-700
{% else %}text-heading  bg-neutral-secondary-medium
{% endif %}
" role="alert">
  <span

{% comment %}
Dynamic insertion via htmx allows custom styling of the svg while still caching the svg.
We can also statically style the svg and use it via img tag or include it as dynamic asset
through {% include 'templates/success.svw' %} or
{% endcomment %}
{% if icon == "true" %}
    {% if variant == 'danger' %}hx-get="{% static 'danger.svg' %}"
    {% elif variant == 'info' %}hx-get="{% static 'info.svg' %}"
    {% elif variant == 'success' %}hx-get="{% static 'success.svg' %}"
    hx-trigger='load' hx-target='this' hx-include='this' hx-swap='afterbegin'
    {% else %}
{% endif %}

class="font-bold flex
{% if variant == 'info' %} text-blue-800
{% elif variant == 'danger' %} text-red-800
{% elif variant == 'success' %} text-green-800
{% elif variant == 'warning' %} text-yellow-800
{% else %}
{% endif %}
    "
    {{attrs}}
    >
        {% endif %}

    {{title}}</span>
  {{slot}}
</div>



{% comment %}
asdfklj
{% endcomment %}
