<c-vars class default="Speichern", success="Gespeichert", error="Fehlgeschlagen" ></c-vars>
        <button
        {{attrs}}
         type='button'
          x-data="{
            'status':'default',
          }"
          hx-swap="none"
          hx-indicator="find span"
          hx-disabled-elt="this"
          class="{{class}}"
          @htmx:after-request="
                const xhr = $event.detail.xhr;
                const contentType = xhr.getResponseHeader('Content-Type') || '';
                if (!contentType.includes('application/json')) {
                    console.log('Api returned non json response')
                    return;
                }
                const r = JSON.parse($event.detail.xhr.responseText);
                const ok = (r.success);
                console.log(r);
                if (ok){
                    $dispatch('success')
                    status = 'success';
                } else {
                    $dispatch('error');
                    status = 'error';
                }
                setTimeout(()=>status='default', 2000)
                "
            >
            {{slot}}
        </button>
