{% load constants %}
{% load widget_tweaks %}
{% load core_extras %}
{% comment %}
helper to return a component which is easily styled but uses a form.field as input
{% endcomment %}
<c-vars  field></c-vars>
{% if field|widget_type|lower == 'select' %}
<c-select.index  :inputName=field.name :selectedValue=field.value>
  {% for value, label in field.field.choices %}
    <c-select.button selectValue={{value}}>
      {{ label }}
    </c-select.button>
  {% endfor %}
</c-select.index>
{% else %}
  {% with attrs.class as attrs_class %}
  {{ field|add_class:attrs.class|add_attrs_without_class:attrs}}
  {% endwith %}
{% endif %}
