{% load core_extras %}

{% comment %}
the map container needs leaflet.js leaflet.css leaflet.draw and the interface to interact with the page via events
{% endcomment %}
<div class="w-full h-full relative isolate min-h-[400px] ">
  <div id='mapElement' class="w-full h-full"></div>
  <!-- {/* Map Controls Container - Bottom Right */} -->
  <div class="absolute bottom-[20px] right-[20px] flex flex-col gap-[12px] z-[1000] pointer-events-auto">
    {% comment %}

    <!-- {/* dBasemap Selector */} -->
    <div class="">
      <img src="/basemaps.svg" alt="Basemap Selector" class="w-[146px] h-[54px]">
    </div>
    {% endcomment %}
    {{legend}}

  </div>
</div>
{% load static %}

<script src='{% static "js/create_map.js" %}'></script>
<script>
  const myMap = new MyMap('#mapElement', {
    getMaxZoom: getMaxZoom,
    getMinZoom: getMinZoom,
    getZoom: () => 16,
    getBounds: getBounds,
    getCenter: getCenter,
    getLayerNames: getLayerNames,
    getEditLayerName: getEditLayerName,
    getGeoJsons: getGeoJsons,
    getPopUps: getPopUps,
    getMarkers: getMarkers,
  });
  myMap.drawElements()
</script>
