{% load i18n %}
{% comment %}
Changed implementation to using html native modal. This automatically disables the whole page
and allows easy interaction. For now the Modal does not delete input when the modal is canceled
{% endcomment %}
<dialog id="{{id}}"
        closedby='any'
        class="
  {% comment %}
    to center the dialog
  {% endcomment %}
  fixed inset-0
  bg-transparent
  p-0
  m-auto
  overflow-visible
  {% comment %}
  to style the backdrop
  {% endcomment %}
  backdrop:bg-black/80
  ">

    <form
    hx-post="{% url 'ports:create_project' %}"
    hx-swap="outerHTML"
    hx-select="form"
    hx-target="this"

    class="bg-white   content-stretch items-start p-[24px] relative rounded-lg shadow-[0px_4px_4px_0px_rgba(0,0,0,0.95)] w-full max-w-[500px]">
      <div class="content-stretch flex items-center justify-between relative shrink-0 w-full">
        <p class="font-['Inter:Regular',sans-serif] font-normal leading-[normal] not-italic relative shrink-0 text-[#1e293b] text-[20px]">
          {% translate 'Projekt erstellen' %}
        </p>
      <button  type="button" commandfor="{{id}}" command="close"
                class="text-4 relative shrink-0 size-[24px] hover:opacity-60 transition-opacity border-0 bg-transparent cursor-pointer p-0">
        <c-icon.close />
        </button>
      </div>
    <div class="grid grid-cols-1 gap-y-2 pt-2">
      <div class="bg-[#f8fafc] content-stretch flex items-start  relative shrink-0 w-full rounded-lg">
        <div class="flex-[1_0_0] font-['Inter:Regular',sans-serif] font-normal min-h-px min-w-px not-italic relative text-[#1e293b] text-[14px] ">
          <p class="leading-[23px] mb-0">{% translate 'Erstelle ein Projekt, um deine Energiezukunft zu planen:' %}</p>
        </div>
      </div>

      <!-- {/* Name Field */} -->
      <div class="content-stretch flex flex-col gap-1 items-start relative shrink-0 w-full">
        <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold leading-[normal] not-italic relative shrink-0 text-[#1e293b] text-[14px] w-full ">
          {% translate 'Projektname' %}
        </p>
        <c-input :field=form.name placeholder="Neues Projekt" class="bg-white border border-[#94a3b8] border-solid content-stretch flex items-center px-4 py-3 relative rounded-[3px] shrink-0 w-full text-[#1e293b] text-[14px] font-['Inter:Regular',sans-serif] outline-none" />
      </div>
      <div class="content-stretch flex flex-col gap-1 items-start relative shrink-0 w-full">
        <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold leading-[normal] not-italic relative shrink-0 text-[#1e293b] text-[14px] w-full ">
          {% translate 'Hafen-Vorlage' %}
        </p>
        <p class="text-xs text-slate-500">Optional</p>
        <div
          x-data
          x-init="$('select', $el).select2({ dropdownParent: $($el).closest('dialog'), width: '100%' });"
          class="w-full"
        >
        {{form.template_scenario_internal_id}}
        </div>
      </div>
      <!-- {/* Description Field */} -->
      <div class="content-stretch flex flex-col gap-1 items-start relative shrink-0 w-full">
        <p class="font-['Inter:Semi_Bold',sans-serif] font-semibold leading-[normal] not-italic relative shrink-0 text-[#1e293b] text-[14px] w-full ">
          Beschreibung
        </p>
        <c-input :field=form.description placeholder="Kurzbeschreibung des Projekts..." class="bg-white border border-[#94a3b8] border-solid content-stretch flex items-center px-4 py-3 relative rounded-[3px] shrink-0 w-full text-[#1e293b] text-[14px] font-['Inter:Regular',sans-serif] outline-none" />
      </div>
    </div>
    <!-- {/* Buttons */} -->
    <div class="content-stretch flex flex-col pt-2 gap-1 items-start relative shrink-0 w-full">
      <button type="submit"
        class="bg-[#0e7490] content-stretch flex items-center justify-center px-4 py-3 relative rounded-[100px] shrink-0 w-full border-0 cursor-pointer hover:bg-[#0c647a] transition-colors"
        hx-disabled-elt="this"
        hx-validate="true"
        hx-indicator="find span"
        >

        <p class="font-['Inter:Bold',sans-serif] font-bold leading-[normal] not-italic relative shrink-0 text-4 text-white"

        {% if success %}
        x-data='{result: "✓ Gespeichert"}' x-init="setTimeout(()=>window.location.reload(), 50)"
        {% elif errors %}
        x-data='{result: "❌️ Fehlgeschlagen"}' x-init="setTimeout(()=>result='Speichern', 2000)"
        {% else %}
        x-data='{result: "💾️ Speichern"}'
        {% endif %}
        @htmx:before-request="result='Speichern'"
      >
        <span class='htmx-indicator loader align-middle'></span>
        <span class='my-hide animate-in fade-in duration-1000 my-hide align-middle min-w-fit' x-text="result" ></span>

        </p>
      </button>
      <button type='button' commandfor="{{id}}" command="close" class="bg-white content-stretch flex gap-2 items-center justify-center px-4 py-2 relative rounded-[100px] shrink-0 w-full border border-[#cbd5e1] border-solid cursor-pointer hover:bg-[#f8fafc] transition-colors">
        <svg class="w-4 h-4"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="5">
          <path d="M18 6L6 18M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <p class="font-['Inter:Regular',sans-serif] font-normal leading-[normal] not-italic relative shrink-0 text-[#1e293b] text-[14px]">
          {% translate 'Abbrechen' %}
        </p>
      </button>

    </div>
    </form>
</dialog>
