
<div
  data-name="{{title}}"
  data-status="{% firstof status_sortable status %}"
  data-last_update="{% firstof last_update_sortable last_update %}"
  class="p-6 bg-white rounded-lg shadow-[0px_1px_4px_0px_rgba(0,0,0,0.10)] outline outline-1 outline-offset-[-1px] outline-slate-200 flex flex-col justify-between">
  <div class="pb-4 border-b border-slate-200 flex items-center justify-between">
    <a href="{% url "ports:home" %}?internal_id={{scenario.internal_id}}" class="select-none text-xl font-bold text-cyan-700 leading-normal hover:underline">{{title|default:"Kein Titel"}}</a>
    <div class="relative" x-data="{ open: false }">
      <button @click="open = !open" class="select-none cursor-pointer text-slate-800 hover:text-slate-500 transition-colors duration-150">
        <i data-lucide="more-vertical" class="w-4 h-4 shrink-0"></i>
      </button>
      {% include 'core/partials/scenario_ellipsis_dropdown.html' %}
    </div>
  </div>
  <div class="flex-1 pt-6 flex flex-col justify-between gap-6">
    <div class="select-none flex items-center justify-between">
      {% if status == "success" %}
      <span class="px-3 py-0.5 bg-green-100 text-green-800 text-xs font-semibold rounded-full">Berechnet</span>
      {% elif status == "failure" %}
      <span class="px-3 py-0.5 bg-red-100 text-red-800 text-xs font-semibold rounded-full">Fehlgeschlagen</span>
      {% else %}
      <span class="px-3 py-0.5 bg-amber-100 text-amber-800 text-xs font-semibold rounded-full">In Bearbeitung</span>
      {% endif %}
      <span class="text-xs text-slate-500">Zuletzt aktualisert: {{last_update|default:"Kein Update"}}</span>
    </div>
    <a href="{% url 'core:ergebnisse' %}" class="select-none flex-1 px-6 py-2 text-cyan-700 rounded-full outline outline-1 outline-offset-[-1px] outline-cyan-700 hover:bg-cyan-700 hover:text-white transition-colors duration-150 flex justify-center items-center gap-3 cursor-pointer">
      <i data-lucide="chart-line" class="w-4 h-4"></i>
      <span class="text-sm font-semibold">Ergebnisse</span>
    </a>
  </div>
</div>
